{% extends "base.html" %}

{% block title %}My Reviews{% endblock %}

{% block page_title %}My Reviews{% endblock %}

{% block content %}
  <ul>
    {% for r in review_list_html %}
      <li>
        <p><strong>Shop:</strong> {{ r.visit.shop.name }}</p>
        <p>You reviewed this shop on {{ r.visit.visit_date }}</p>
        <p>Rating: {{ r.rating }}/5</p>
        {% if r.comment %}
          <p>Comment: "{{ r.comment }}"</p>
        {% endif %}
      </li>
    {% empty %}
      <li>No reviews yet.</li>
    {% endfor %}
  </ul>
{% endblock %}